<!-- <ion-split-pane> -->
  <ion-menu contentId="content">
    <ion-header>
      <!-- <ion-toolbar>
        <div >
          <ion-title mode=ios>
            <ion-icon class="topIcon" src="../../assets/icon/white-over-black.svg"> </ion-icon>
          </ion-title>
        </div>
      </ion-toolbar> -->
    </ion-header>


    <ion-content>

      <ion-item class="menu1">
        <ion-icon name="documents" color="primary"></ion-icon> <div class="myPages">My pages</div> 
      </ion-item>

      <ion-list>
        <ion-menu-toggle autohide="false" *ngFor="let p of paginas" > 
          <ion-item [routerLink]="'/menu/main-timers'" routerDirection="root" (click)="pageSelected(p.id)" [class.active-item]="p.id === thePageId">
            {{p.name}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-button fill="clear" (click)="createPageAlert()">Add new page<ion-icon name="add" color="primary"></ion-icon></ion-button>

    </ion-content>
  </ion-menu>

  
  
  <ion-router-outlet id="content" main></ion-router-outlet>
<!-- </ion-split-pane> -->
