ion-content{
  --ion-background-color:#e0e0e0;
}
#container {
    position: relative;
    background-color: rgb(255, 255, 255);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    height: 100px;
    width: 80%;
    left: 10%;
    border-radius: 25px;
    border: 7px solid #e0e0e0;
  }
#name {
  position: absolute;
  height: 30px;
  width: 80%;
  left: 10%;
  text-align: center;
}

#time{
  position: absolute;
  top: 20px;
  width: 50%;
  right: 50%;
  font-size: 40px;
  text-align: center;
}
#buttons{
  position: absolute;
  top: 30px;
  width: 55%;
  height: 45px;
  left: 45%;
}
div{
  // font-family: "Times New Roman", Times, serif;
  font-family: "Arial Black", Gadget, sans-serif;
  text-transform: uppercase ;
  font-weight: 900;
}
ul {
  height: 90%;
  position: absolute;
  width: 110%;
  right: 0px;
  list-style-type: none;
}

#topIcon {
  position: absolute;
  width: 100%;
  left: 0;
  top:-2px;
  text-align:center;
}
