// Toolbar

.list div:nth-child(1) {
  margin-top: 60px;
}
.topIcon{
  margin-top: 5px;
  font-size: 72px;
}
// Body

ion-content {
  --ion-background-color: var(--ion-color-primary);
  // --background: url(../../assets/images/surf-wallpaper.jpeg) no-repeat center/cover fixed;
}

// List

.list div:nth-last-child(1) {
  margin-bottom: 70px;
}

// List elements


.container{
  position: relative;
  height: 75px;
  width: 95%;
  left: 2.5%;
  border-radius: 25px;
}
.subcontainer {
  position: absolute;
  background-color: var(--ion-color-light);
  top: -70px;
  height: 70px;
  width: 100%;
  left: 0%;
  border-radius: 10px;
}
.name {
  text-transform: uppercase ;
  font-weight: 300;
  position: absolute;
  bottom: 33px;
  height: 30px;
  width: 45%;
  left: 55%;
  text-align: center;
}
.time{
  position: absolute;
  font-weight: 100;
  top: 13px;
  width: 40%;
  left: 15%;
  font-size: 40px;
  text-align: center;
}
.buttons{
  position: absolute;
  top: 30px;
  width: 45%;
  height: 45px;
  left: 55%;
  text-align:center;
}
.icon-button {
  font-size: 25px;
}


// Drag and drop

// .example-list {
//   width: 500px;
//   max-width: 100%;
//   border: solid 1px #ccc;
//   min-height: 60px;
//   display: block;
//   background: white;
//   border-radius: 4px;
//   overflow: hidden;
// }

// .example-box {
//   padding: 20px 10px;
//   border-bottom: solid 1px #ccc;
//   color: rgba(0, 0, 0, 0.87);
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   box-sizing: border-box;
//   cursor: move;
//   background: white;
//   font-size: 14px;
// }

// .cdk-drag-preview {
//   position: relative;
//   background-color: rgb(255, 255, 255);
//   height: 100px;
//   width: 90%;
//   left: 5%;
//   border-radius: 25px;
//   border: 4px solid #e0e0e0;
//   .name {

//   }
// }

.cdk-drag-placeholder {
  opacity: 0;
}

// .cdk-drag-animating {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }

// .example-box:last-child {
//   border: none;
// }

// .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }

