<ion-header >
  <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" >
      <ion-menu-button color="light"></ion-menu-button>
    </ion-button>
    <ion-title mode=ios>
      <ion-icon class="topIcon" src="../../assets/icon/full-white-empty.svg"> </ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="getstart">
  <div cdkDropList class="list">
    <!-- Lista con 2 tipos elementos -->
    <div *ngFor="let c of cajas;let i = index" class="{{c.role}}" cdkDrag>
      <!-- Tipo cajas -->
      <div *ngIf="c.role==='caja'">
        <div class = "name">{{c.nombre}}</div>
        <div class = "time">{{c.countingValue}}:{{c.countingValue}} </div>
        <div class = "buttons">
          <ion-button color="dark" fill="clear" size="small" (click)="playpauseButton(i)"><ion-icon class="caja-buttons" name="play-outline"></ion-icon></ion-button>
          <ion-button color="dark" fill="clear" size="small" (click)="resetButton(i)"><ion-icon class="caja-buttons" name="refresh-outline"></ion-icon></ion-button>
          <ion-button color="dark" fill="clear" size="small" (click)="editCajaAlert(i)"><ion-icon class="caja-buttons" name="settings-outline"></ion-icon></ion-button>
        </div>
      </div>
      <!-- Tipo cycle -->
      <div *ngIf="c.role==='cycle'">
          <ion-button fill="clear" size="small"><ion-icon color="light" name="chevron-forward-outline"></ion-icon></ion-button>
          <span class="cycleNombre">Cycle 1</span>
      </div>
    <!--  -->
    </div>
  </div>

  <!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="container" *ngFor="let c of cajas;let i = index" cdkDrag>
      <div class="subcontainer">
        <div class = "name">{{c.nombre}}</div>
        <div class = "time">{{c.countingValue}} </div>
        <div class = "buttons">
          <ion-button color="dark" fill="clear" size="small" (click)="playpauseButton(i)"><ion-icon name="play-sharp"></ion-icon></ion-button>
          <ion-button color="dark" fill="clear" size="small" (click)="resetButton(i)"><ion-icon name="reload-circle-sharp"></ion-icon></ion-button>
          <ion-button color="dark" fill="clear" size="small" (click)="editCajaAlert(i)"><ion-icon name="construct-sharp"></ion-icon></ion-button>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Boton para añadir temporizadores y ciclos -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="btn" color="secondary"><ion-icon name="add" color="primary"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="secondary" data-desc="Circuit of timers"><ion-icon name="flag" color="primary"></ion-icon></ion-fab-button>
      <ion-fab-button color="secondary" (click)="createCajaAlert()" data-desc="Timer"><ion-icon name="hourglass-outline" color="primary"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
