// Toolbar

#topIcon {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 100%;
  left: 0;
  top:0px;
  text-align:center;
}
.example-list div:nth-child(1) {
  margin-top: 70px;
}

// Body

ion-content{
  --ion-background-color:#e0e0e0;
}

// List
.example-list div:nth-last-child(1) {
  margin-bottom: 70px;
}

// List elements

div{
  // font-family: "Times New Roman", Times, serif;
  font-family: "Arial Black", Gadget, sans-serif;
  text-transform: uppercase ;
  font-weight: 900;
}
.container {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 90%;
    left: 5%;
    border-radius: 25px;
    border: 4px solid #e0e0e0;
  }
.name {
  position: absolute;
  bottom: 55px;
  height: 30px;
  width: 80%;
  left: 10%;
  text-align: center;
}
.time{
  position: absolute;
  top: 20px;
  width: 50%;
  left: 0px;
  font-size: 40px;
  text-align: center;
}
.buttons{
  position: absolute;
  top: 35px;
  width: 55%;
  height: 45px;
  left: 45%;
}

// Drag and drop

// .example-list {
//   width: 500px;
//   max-width: 100%;
//   border: solid 1px #ccc;
//   min-height: 60px;
//   display: block;
//   background: white;
//   border-radius: 4px;
//   overflow: hidden;
// }

// .example-box {
//   padding: 20px 10px;
//   border-bottom: solid 1px #ccc;
//   color: rgba(0, 0, 0, 0.87);
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   box-sizing: border-box;
//   cursor: move;
//   background: white;
//   font-size: 14px;
// }

// .cdk-drag-preview {
//   position: relative;
//   background-color: rgb(255, 255, 255);
//   height: 100px;
//   width: 90%;
//   left: 5%;
//   border-radius: 25px;
//   border: 4px solid #e0e0e0;
//   .name {

//   }
// }

.cdk-drag-placeholder {
  opacity: 0;
}

// .cdk-drag-animating {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }

// .example-box:last-child {
//   border: none;
// }

// .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }
