// Toolbar
.topIcon{
  margin-top: 5px;
  font-size: 72px;
}

// Body
ion-content {
  --ion-background-color: var(--ion-color-primary);
}

// List
.list div:nth-last-child(0) {
  margin-bottom: 70px;
}

// List elements
  // Tipo cycle
.cycle {
  position: relative;
  margin-top: 10px;
  height: 35px;
  width: 95%;
  left: 2.5%;
  border-radius: 10px;
}
.cycleNombre {
  position: absolute;
  top:9px;
  color: var(--ion-color-light);
}
  // Tipo caja
.caja{
  margin-top: 10px;
  position: relative;
  background-color: var(--ion-color-light);
  height: 70px;
  width: 95%;
  left: 2.5%;
  border-radius: 10px;
}
.name {
  position: absolute;
  text-transform: uppercase ;
  font-weight: 300;
  bottom: 33px;
  height: 30px;
  width: 45%;
  left: 55%;
  text-align: center;
}
.time{
  position: absolute;
  font-weight: 100;
  top: 13px;
  width: 40%;
  left: 15%;
  font-size: 40px;
  text-align: center;
}
.buttons{
  position: absolute;
  top: 30px;
  width: 45%;
  height: 45px;
  left: 55%;
  text-align:center;
}
.caja-buttons {
  font-size: 25px;
}
#btn { --ion-color-base: #006161 !important; }

// Fab buttons
ion-fab-button {
  // --border-radius: 10px;
  --border-color: var(--ion-color-primary);;
  --border-width: 2px;
  --border-style: solid;
}
ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  background-color: var(--ion-color-primary);
  padding: 9px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}

// Drag and drop
.cdk-drag-placeholder {
  opacity: 0;
}

