// Toolbar
.topIcon{
  margin-top: 5px;
  font-size: 60px;
}

// Body
ion-content {
  --ion-background-color: var(--ion-color-primary);
}
.invisibleBotBlock{
  position: relative;
  background-color: #00000000;
  height: 70px;
  margin-top: 10px;
}

//Top PlayPage controller
.invisiblePlaypageBackBlock {
  position: relative;
  background-color: #00000000;
  height: 70px;
  margin-top: 10px;
}
.playpageContainer {
  position: relative;
  background-color:var(--ion-color-dark);
  height: 70px;
  width: 95%;
  left: 2.5%;
  border-radius: 10px;
  margin-top: 10px;
}
.pageName{
  position: absolute;
  left: 10%;
  top: 9px;
  color: var(--ion-color-light);
  font-size: 20px;
}
.totalTimeLeft {
  position: absolute;
  left: 10%;
  top: 45px;
  color: var(--ion-color-light);
}
.playpageButtons{
  position: absolute;
  width: 45%;
  right: 0%;
  text-align: center;
  top: 5px;
  color: var(--ion-color-light);
}
.playpageLaps{
  position: absolute;
  width: 45%;
  height: 40px;
  right: 0%;
  text-align: center;
  top: 28px;
  color: var(--ion-color-light);
}

// List

  // Tipo cycle
.circuit {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  height: 35px;
  width: 95%;
  left: 2.5%;
  border-radius: 10px;
  margin-top: 10px;
}
.flechaCircuit {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 15%;
}
.buttonCajaCircuitEdit{
  position: absolute;
  left: 10%;
  width: 90%;
  height: 27px;
}
.circuitIcon{
  position: absolute;
  width: 20%;
  left: -2%;
  top: -14px;
  font-size: 100px;
}
.circuitNombre {
  position: absolute;
  left: 12%;
  top: 9px;
  height: 18px;
  color: var(--ion-color-light);
}
.circuitLaps {
  position: absolute;
  text-align: center;
  width: 30%;
  right: 0px;
  top: 9px;
  color: var(--ion-color-light);
}
.resetCircuit{
  position: absolute;
  top: -2px;
  right: 25%;
  color: var(--ion-color-light);
  
}
  // Tipo caja 
.timer{
  position: relative;
  background-color: var(--ion-color-light);
  height: 70px;
  width: 95%;
  left: 2.5%;
  border-radius: 10px;
  margin-top: 10px;
}
.name {
  position: absolute;
  text-transform: uppercase ;
  font-weight: 300;
  bottom: 33px;
  height: 30px;
  width: 45%;
  left: 55%;
  text-align: center;
}
.time{
  position: absolute;
  top: 13px;
  font-weight: 100;
  width: 40%;
  height: 45px;
  left: 15%;
  font-size: 40px;
  text-align: center;
  color: var(--ion-color-dark);
}
.buttonCajaTimerEdit{
  position: absolute;
  left: 15%;
  width: 85%;
  height: 62px;
}
.buttons{
  position: absolute;
  top: 30px;
  width: 45%;
  height: 45px;
  left: 55%;
  text-align:center;
  --ionicon-stroke-width: 20px;
}
.caja-buttons {
  font-size: 25px;
}

// Fab buttons
ion-fab-button {
  // --border-radius: 10px;
  --border-color: var(--ion-color-primary);;
  --border-width: 2px;
  --border-style: solid;
}
ion-fab-button[data-desc] {
  position: relative;
}
ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  background-color: var(--ion-color-primary);
  padding: 9px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}

// Drag and drop
.cdk-drag-placeholder {
  opacity: 0;
}

