<ion-header >
  <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" >
      <ion-menu-button color="light"></ion-menu-button>
    </ion-button>
    <ion-title mode=ios>
      <ion-icon class="topIcon" src="../../assets/icon/white-over-black.svg"> </ion-icon>
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="settingsPopover($event)">
      <ion-icon color="light" name="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content class="getstart" fullscreen>


  <div *ngIf="playpage === true" class="invisiblePlaypageBackBlock"></div>
  <div *ngIf="playpage === true" class="playpageContainer" slot="fixed">
    <div class = "pageName"> {{thePage.name}}</div>
    <div class = "totalTimeLeft"> Time left: {{thePage.stringDisplayed}} </div>
    <div class = "playpageLaps">
      <ion-button *ngIf="thePage.laps == 1" fill="clear" color="light" (click)="editPageLapsAlert()" > One lap </ion-button>
      <ion-button *ngIf="thePage.laps > 1" fill="clear" color="light" (click)="editPageLapsAlert()" >Lap {{thePage.countingLaps}} of {{thePage.laps}} </ion-button>
    </div>
    <div class="playpageButtons">
      <ion-button color="light" fill="clear" size="small" (click)="playpausePage()"><ion-icon class="caja-buttons" [name]="!playingpage ? 'play-outline' : 'pause-outline'"></ion-icon></ion-button>
      <ion-button color="light" fill="clear" size="small" (click)="resetPage()"><ion-icon class="caja-buttons" name="refresh-outline"></ion-icon></ion-button>
    </div>
  </div>

  
  <div cdkDropList class="list" (cdkDropListDropped)="drop($event)">

    <!-- Lista con 2 tipos elementos -->
    <div *ngFor="let c of cajas;let i = index; trackBy: identify; let last = last" class="{{c.role}}" cdkDrag (cdkDragStarted)="drag(i)" [cdkDragStartDelay]="300" >

      <!-- Tipo cajas activadas -->
      <div *ngIf="c.role==='timer'">
        <ion-icon *ngIf="c.circuitState === 3 && c.circuitPos === 2" class="circuitIcon" src="../../assets/icon/circuit-using/alone.svg"></ion-icon>
        <ion-icon *ngIf="c.circuitState === 1" class="circuitIcon" src="../../assets/icon/circuit-using/start.svg"></ion-icon>
        <ion-icon *ngIf="c.circuitState === 2" class="circuitIcon" src="../../assets/icon/circuit-using/middle.svg"></ion-icon>
        <ion-icon *ngIf="c.circuitState === 3 && c.circuitPos !== 2" class="circuitIcon" src="../../assets/icon/circuit-using/end.svg"></ion-icon>
        <div class = "name"> {{c.timerName}}</div>
        <div class = "time" >{{c.displayString}}</div>
        <ion-button class="buttonCajaTimerEdit" size="small" fill="clear" (click)="editCajaTimerAlert(i)"></ion-button>
        <div class = "buttons">
          <ion-button color="dark" fill="clear" size="small" (click)="controller( i, 1)"><ion-icon class="caja-buttons" [name]="c.counting===false ? 'play-outline' : 'pause-outline'"></ion-icon></ion-button>
          <ion-button color="dark" fill="clear" size="small" (click)="reset(i)"><ion-icon class="caja-buttons" name="refresh-outline"></ion-icon></ion-button>
        </div>
      </div>

      <!-- Tipo circuito activado -->
      <div *ngIf="c.role==='circuit'" >
        <span class="circuitNombre" >{{c.circuitName}}</span>
        <span *ngIf="c.circuitLaps == 1" class="circuitLaps"> One lap </span>
        <span *ngIf="c.circuitLaps > 1" class="circuitLaps"> {{c.circuitDoingLap}} of {{c.circuitLaps}} Laps </span>
        <ion-button class="buttonCajaCircuitEdit" fill="clear" (click)="editCajaCircuitAlert(i)"></ion-button>
        <ion-button class='flechaCircuit' fill="clear" size="small" (click)="circuitHideShowGroup(i)"><ion-icon color="light" [name]="c.circuitState===10 ? 'chevron-forward-outline' : 'chevron-down-outline'"></ion-icon></ion-button>
        <ion-button class="resetCircuit" color="light" fill="clear" size="small" (click)="resetGroup(c.groupId)"><ion-icon class="caja-buttons" name="refresh-outline"></ion-icon></ion-button>
      </div>

    <!--  -->
    </div>
  </div>

  <div class="invisibleBotBlock"></div>

  







  <!-- Boton para añadir temporizadores y ciclos -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="btn" color="secondary"><ion-icon name="add" color="primary"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="secondary" (click)="createCajaCircuitAlert()" data-desc="Cyclical group"><ion-icon name="flag" color="primary"></ion-icon></ion-fab-button>
      <ion-fab-button color="secondary" (click)="createCajaTimerAlert()" data-desc="Timer"><ion-icon name="hourglass-outline" color="primary"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab> 

</ion-content>
